<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Магазин «Я не помню этих болтов»</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Я не помню этих болтов</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Справочники
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-controller="Manufacturer" asp-action="Index">Производители</a></li>
                                    <li><a class="dropdown-item" asp-controller="Store" asp-action="Index">Магазины</a></li>
                                    <li><a class="dropdown-item" asp-controller="Image" asp-action="Index">Картинки</a></li>
                                    <li><a class="dropdown-item" asp-controller="AdditionalInfo" asp-action="FormFactor">Форм-факторы</a></li>
                                    <li><a class="dropdown-item" asp-controller="AdditionalInfo" asp-action="ProcSocket">Сокеты процессоров</a></li>
                                    <li><a class="dropdown-item" asp-controller="AdditionalInfo" asp-action="ProcModel">Модели процессоров</a></li>
                                    <li><a class="dropdown-item" asp-controller="AdditionalInfo" asp-action="TypeRam">Типы памяти</a></li>
                                    <li><a class="dropdown-item" asp-controller="AdditionalInfo" asp-action="CoolerType">Типы куллеров</a></li>
                                    <li><a class="dropdown-item" asp-controller="AdditionalInfo" asp-action="GrafProc">Графические процессоры</a></li>
                                </ul>
                            </li>
                            
                        }
                        @if (User.IsInRole("Employee"))
                        {
                            <li class="nav-item">
                                <a class="dropdown-item" asp-controller="Store" asp-action="Index">Магазин</a>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Комплектующие
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Hsd" asp-action="Index">Жёсткие диски</a></li>
                                <li><a class="dropdown-item" asp-controller="Frame" asp-action="Index">Корпуса</a></li>
                                <li><a class="dropdown-item" asp-controller="Motherboard" asp-action="Index">Материнские платы</a></li>
                                <li><a class="dropdown-item" asp-controller="Charge" asp-action="Index">Блоки питания</a></li>
                                <li><a class="dropdown-item" asp-controller="Cooler" asp-action="Index">Системы охлаждения</a></li>
                                <li><a class="dropdown-item" asp-controller="Hsd" asp-action="Index">Процессоры</a></li>
                                <li><a class="dropdown-item" asp-controller="Hsd" asp-action="Index">Видеокарты</a></li>
                                <li><a class="dropdown-item" asp-controller="Hsd" asp-action="Index">Оперативная память</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="for-modal">
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CompsKitMarket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            console.log("vd", "@TempData["ShowLoginModal"]");
            if ("@TempData["ShowLoginModal"]" == "True")
                showLoginModal();
        });
    </script>
</body>
</html>
