@model CompsKitMarket.Models.Motherboard.MotherModel
@{
    string text = Model.IsNew ? "Добавление" : "Редактирование";
    ViewData["Title"] = text;
}

<div class="pb-3 bg-light p-5 rounded border">
    <h4>
        @text
    </h4>
    <hr />
    <form asp-action="Save" method="post" enctype="multipart/form-data">
        <div class="row">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Форм-фактор</label>
                    <div class="form-line">
                        @Html.DropDownListFor(m => m.FormFactorId, ViewData["Motherforms"] as List<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="w-100"><hr></div>
            <div class="col-md-6 mb-3">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" accept=".jpg,.png,.gif,.jpeg" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="w-100"><hr></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Производитель</label>
                    <div class="form-line">
                        @Html.DropDownListFor(m => m.ManufacturerId, ViewData["Manufacturers"] as List<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Размер материнской платы</label>
                    <div class="form-line">
                        @Html.DropDownListFor(m => m.TypeRamId, ViewData["TypeRams"] as List<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Размер материнской платы</label>
                    <div class="form-line">
                        @Html.DropDownListFor(m => m.ProcSocketId, ViewData["ProcSockets"] as List<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="w-100"><hr></div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="CountRam" class="control-label"></label>
                    <input asp-for="CountRam" class="form-control" />
                    <span asp-validation-for="CountRam" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="RamFreq" class="control-label"></label>
                    <input asp-for="RamFreq" class="form-control" />
                    <span asp-validation-for="RamFreq" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="Pci1" class="control-label"></label>
                    <input asp-for="Pci1" class="form-control" />
                    <span asp-validation-for="Pci1" class="text-danger"></span>
                </div>
            </div>

            <div class="w-100"><hr></div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="Pci16" class="control-label"></label>
                    <input asp-for="Pci16" class="form-control" />
                    <span asp-validation-for="Pci16" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="Pci8" class="control-label"></label>
                    <input asp-for="Pci8" class="form-control" />
                    <span asp-validation-for="Pci8" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="Pci4" class="control-label"></label>
                    <input asp-for="Pci4" class="form-control" />
                    <span asp-validation-for="Pci4" class="text-danger"></span>
                </div>
            </div>

            <div class="w-100"><hr></div>
            <div class="col-md-4">
                <div class="mb-3">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>